DEBUG=True

MYSQL_DATABASE=business
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE_HOST=mysql-business
MYSQL_DATABASE_PORT=3306

AUTH_URL=http://192.168.0.108:8080/api/token/verify/

DJANGO_SECRET_KEY='django-insecure-iowa=&*xv-n%-_v$i)kwhm6uz9qpm_f=%2$l(fds!93rz7#p15'