DEBUG=True

MYSQL_DATABASE=auth
MYSQL_USER=root
MYSQL_PASSWORD=root
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE_HOST=mysql
MYSQL_DATABASE_PORT=3306

DJANGO_SECRET_KEY='django-insecure-o0!b18u(q$ewqu!3l7-+1mpx#&0$=%k7yuf2r^*wko+y30-pui'

BUSINESS_URL_IPV4=192.168.0.108